.cards__list-item-fav-button {
  width: 22px;
  height: 19px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/card-favorite.svg);
  background-position: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
