.profile__edit-info {
  width: 24px;
  height: 24px;
  margin: 0 18px;
  background-color: #000;
  background-image: url(../../../images/profile-edit.svg);
  background-size: cover;
  border: none;
  flex-shrink: 0;
}

@media screen and (max-width: 600px) {
  .profile__edit-info {
    margin-left: 10px;
  }
}
