.popup__box {
  margin: 0 40px;
  max-width: 358px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 31px 36px 37px;
}

@media screen and (max-width: 600px) {
  .popup__box {
    max-width: 238px;
    padding: 25px 22px;
    margin: 0;
  }
}
