.card__image {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
