.card__fav-btn {
  width: 22px;
  height: 19px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/card-favorite.svg);
  background-size: cover;
  border: none;
  border-radius: 0;
}

.card__fav-btn:hover {
  opacity: 0.5;
}
